[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone60.cfg

# Optional release tooling pulls in cmarkgfm -> cffi>=2, which conflicts with
# Plone 6 KGS pins. Skip it for the Plone 6 test buildout.
parts -=
    releaser

# Added by buildout at 2026-01-23 14:17:48.491263
build = 1.4.0
coverage = 7.13.1
createcoverage = 1.5
flake8 = 7.3.0
i18ndude = 6.3.0
mccabe = 0.7.0
plone-recipe-codeanalysis = 3.0.1
pycodestyle = 2.14.0
pyflakes = 3.4.0
pyproject-hooks = 1.2.0

# Required by:
# plone-recipe-codeanalysis==3.0.1
check-manifest = 0.51
